.btn {
  text-transform: uppercase;
  font-size: 15px;
  height: 45px;
  padding: 0 24px;
  line-height: 45px;

  i {
    margin-right: 5px;
  }
}

.btn-link {
  color: lighten($mau-xanh-md,25);

  // &:hover,&:focus {

  // }
}

.btn-xs {
  font-size: 13px;
  padding-left: 12px;
  padding-right: 12px;
  height: 35px;
  line-height: 35px;
}

.btn-default {
  
  background-color: $mau-xanh-md;
  color: white;

  &:hover,&:focus {
    background-color: lighten($mau-xanh-md,25);
    color: rgba(white,.9);
  }
}

.btn-default-outline {
  background-color: transparent;
  border: 1px solid $mau-xanh-md;
  color: lighten($mau-xanh-md,15);

  &:hover,&:focus {
    border-color: $mau-xanh-md;
    background-color: white;
    color: lighten($mau-xanh-md,15);
  }
}

.btn-pink {
  background-color: $mau-hong;
  color: white;

  &:hover,&:focus {
    background-color: lighten($mau-hong,5);
    color: rgba(white,.9);
  }
}