.contact-page {
  background-color: rgba($mau-xanh-md,.03);
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;

  .view-maps {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: $gray-c;
    padding: 0;
    border-left: 3px solid $gray-e;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .contact-info {
    padding-left: 20px;
    

    h1 {
      font-size: 45px;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
  }


  .info {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
    .icon {
      width: 32px;
      float: left;
      text-align: center;

      i {
        font-size: 26px;
        margin-top: 10px;
        color: $mau-xanh-md;
      }
    }

    .content {
      overflow: hidden;
      padding-left: 30px;

      .contact-label {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 6px;
      }

      p {
        margin-bottom: 0;
        font-size: 18px;
      }
    }
  }
}

.contact-form {
  .title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
  }

  .text-only {
    font-size: 18px;
    text-align: center;
    display: block;
    color: $gray-5;
  }

  form {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .btn-submit {
    min-width: 180px;
    margin-top: 20px;
  }

  .g-captcha {
    width: 304px;
    margin: auto;
  }
}




////////#############

@include responsive(xs) {
  .contact-page {
    padding-bottom: 0;
    .contact-info {
      padding-left: 0;
      margin-bottom: 50px;
      h1 {
        font-size: 30px;
        text-align: center;
      }
    }

    .info {
      margin-bottom: 25px;

      .icon {
        width: 25px;
        
        i {
          font-size: 22px;
        }
      }

      .content {
        padding-left: 18px;
        .contact-label, p {
          font-size: 16px;
        }
      }
    }
    
    .view-maps {
      position: static;
      width: 100%;
      height: 340px;
      border: none;
    }
  }

  .contact-form {
    .title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    form {
      margin-top: 30px;
    }
  }
}

@include responsive(sm) {
  .contact-page {
    padding-bottom: 50px;
    .contact-info {
      padding-left: 0;
      margin-bottom: 50px;
      h1 {
        font-size: 30px;
        text-align: center;
      }
    }

    .info {
      margin-bottom: 25px;

      .icon {
        width: 25px;
        
        i {
          font-size: 22px;
        }
      }

      .content {
        padding-left: 18px;
        .contact-label, p {
          font-size: 16px;
        }
      }
    }
    
    .view-maps {
      position: static;
      width: 100%;
      height: 340px;
      border: 1px solid $gray-ec;
    }
  }

  .contact-form {
    .title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    form {
      margin-top: 30px;
    }
  }
}

@include responsive(md) {
  .contact-page {
    // padding-bottom: 50px;
    .contact-info {
      padding-left: 0;
      margin-bottom: 50px;
      margin-left: -20px;
      margin-right: -20px;
      &:after {
        content: '';
        display: table;
        clear: both;
      }

      h1 {
        font-size: 30px;
        text-align: center;
      }
    }

    .info {
      margin-bottom: 25px;
      float: left;
      width: 50%;
      padding: 0 20px;

      .icon {
        width: 25px;
        
        i {
          font-size: 22px;
        }
      }

      .content {
        padding-left: 18px;
        .contact-label, p {
          font-size: 16px;
        }
      }
    }
    
    .view-maps {
      position: static;
      width: 100%;
      height: 340px;
      border: 1px solid $gray-ec;
    }
  }

  .contact-form {
    .title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    form {
      margin-top: 30px;
    }
  }
}

@include responsive(lg) {
  .contact-page {
    .contact-info {
      padding-left: 0;
    }

    .info {
      .content {
        .contact-label,p {
          font-size: 16px;
        }
      }
    }
  }
}